<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.furahitechstudio.furahitechpay">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:theme="@style/AppTheme">
        <activity android:name=".activities.PayMobile" />
        <activity android:name=".activities.PayCard" />
        <activity android:name=".activities.PaySecure"/>
    </application>

</manifest>